In [5]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\navin\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\navin\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\navin\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\navin\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\navin\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\navin\anaconda3\lib\site-packages (from requests) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\navin\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\navin\anaconda3\lib\site-packages (from requests) (1.26.7)

In [6]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

# Ques No.---1 display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’

In [7]:
#send get request to the webpage server
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")

# page content
soup=BeautifulSoup(page.content)

header_tags = []
for header in soup.find_all(["h1","h2","h3","h4","h5","h6"]):
    header_tags.append(header.name+ " " +header.text.strip())

In [8]:
#print all header tags
header_tags

['h1 Main Page',
 'h1 Welcome to Wikipedia',
 "h2 From today's featured article",
 'h2 Did you know\xa0...',
 'h2 In the news',
 'h2 On this day',
 "h2 Today's featured picture",
 'h2 Other areas of Wikipedia',
 "h2 Wikipedia's sister projects",
 'h2 Wikipedia languages',
 'h2 Navigation menu',
 'h3 Personal tools',
 'h3 Namespaces',
 'h3 Views',
 'h3 Search',
 'h3 Navigation',
 'h3 Contribute',
 'h3 Tools',
 'h3 Print/export',
 'h3 In other projects',
 'h3 Languages']

# Ques no.--2  IMDB's top rated 100 movies

In [9]:
# send request to the web page server to get source code of the page
url = "https://www.imdb.com/list/ls091520106/"
page2 = requests.get(url)

# page content
soup2 = BeautifulSoup(page2.content)

# top Movies name
name = soup2.find_all("h3", class_="lister-item-header")
# get text from movie name 
movies_name = [] 
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text)
        
        
                       
# Year of release
year = soup2.find_all("span",class_="lister-item-year text-muted unbold")
year_of_release = [] 
for k in year:
    a=k.text.replace('(','')
    year_of_release.append(a.replace(')','')) 
    
    
    
    
# IMDB Rating
rating = soup2.find_all("div",class_="ipl-rating-star small")

# rating text
IMDB_rating = [] 
for i in rating:
      IMDB_rating.append(float(i.text))

In [10]:
#Make deta frame of 100 movies
IMDB_top_100=pd.DataFrame({})
IMDB_top_100['movies_name']=movies_name
IMDB_top_100['year_of_release']=year_of_release
IMDB_top_100['IMDB_rating']=IMDB_rating  
IMDB_top_100

                            movies_name year_of_release  IMDB_rating
0              The Shawshank Redemption            1994          9.3
1                         The Godfather            1972          9.2
2                 The Godfather Part II            1974          9.0
3                       The Dark Knight            2008          9.0
4                          12 Angry Men            1957          9.0
..                                  ...             ...          ...
95                   North by Northwest            1959          8.3
96                   A Clockwork Orange            1971          8.3
97                               Snatch            2000          8.2
98  Le fabuleux destin d'Amélie Poulain            2001          8.3
99                              The Kid            1921          8.3

[100 rows x 3 columns]

# ques no.--3 IMDB's top 100 Indian Movies

In [11]:
url = "https://www.imdb.com/list/ls009997493/"
page3 = requests.get(url)

#  page content
soup3 = BeautifulSoup(page3.content)

# top Movies name
name = soup3.find_all("h3", class_="lister-item-header")
movies_name = [] 
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text)


# Year of release
year = soup3.find_all("span",class_="lister-item-year text-muted unbold")
year_of_release = [] 

for k in year:
    a=k.text.replace('(','')
    year_of_release.append(a.replace(')','')) 
    

# IMDB Rating
rating = soup3.find_all("div",class_="ipl-rating-star small")

# rating 
IMDB_rating = [] #empty list
for i in rating:
      IMDB_rating.append(float(i.text))

In [12]:
# Make data frame of top 100 India's IMDB movies
indian_top_100=pd.DataFrame({})
indian_top_100['movies_name']=movies_name
indian_top_100['year_of_release']=year_of_release
indian_top_100['IMDB_rating']=IMDB_rating
indian_top_100

               movies_name year_of_release  IMDB_rating
0          Rang De Basanti            2006          8.1
1                 3 Idiots            2009          8.4
2         Taare Zameen Par            2007          8.3
3           Dil Chahta Hai            2001          8.1
4   Swades: We, the People            2004          8.2
..                     ...             ...          ...
95             Wake Up Sid            2009          7.6
96                Rangeela            1995          7.4
97     Shatranj Ke Khilari            1977          7.5
98      Pyaar Ka Punchnama            2011          7.6
99           Ek Hasina Thi            2004          7.5

[100 rows x 3 columns]

# Ques. no.--4 -Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [17]:
url="https://www.cnbc.com/world/?region=world"
page4 = requests.get(url)



# page content
soup4=BeautifulSoup(page4.content)

# headline name
headline_name = [] # creating empty list
for i in soup4.find_all(class_="LatestNews-headline"): 
    headline_name.append(i.text)

# time   
time = []
for i in soup4.find_all('a',class_="LatestNews-wrapper"): 
    time.append(i.text)
    
# scraping news link    
news_link = []
for i in soup4.find_all('span',class_=""): 
    news_link.append(i.text) 

    # Creating data frame 
import pandas as pd
df = pd.DataFrame({'Product_Name':product_name,'Price':price,'Discount':discount})
df

ValueError: All arrays must be of the same length

# Ques No.--5  python program to scrape cricket rankings from icc-cricket.com.

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [ ]:

url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page5 = requests.get(url)

#  page5
soup5 = BeautifulSoup(page5.content)

# team names
team = soup5.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)
matches = []
points = []
ratings = [] 
new_list = []
# Matches
for i in soup5.find_all("td",class_='rankings-block__banner--matches'):
    matches.append(i.text)
    
#Team points    
for i in soup5.find_all("td",class_='rankings-block__banner--points'):
    points.append(i.text)
    
#Team Ratings    
for i in soup5.find_all("td",class_='rankings-block__banner--rating u-text-right'):
    ratings.append(i.text.replace("\n",""))
    
#  ther teams number of matches and points  
    
for i in soup5.find_all("td",class_='table-body__cell u-center-text'):
    new_list.append(i.text)
    
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i])
    points.append(new_list[i+1])
for i in soup5.find_all("td",class_='table-body__cell u-text-right rating'):
    ratings.append(i.text)

In [ ]:
#Data frame of top 10 ICC teams
icc=pd.DataFrame({})
icc['Team_name']=team_name[:10]
icc['Matches']=matches[:10]
icc['Points']=points[:10]
icc['Ratings']=ratings[:10]
icc

# Ques No.ii)ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [ ]:

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
page6 = requests.get(url)
#page6
soup6 = BeautifulSoup(page6.content)

players = [] 
team_name = [] 
rating = [] 

#Player name
for i in soup6.find_all("div",class_='rankings-block__banner--name-large'):
    players.append(i.text)
    
#Team name    
for i in soup6.find_all("div",class_='rankings-block__banner--nationality'):
    team_name.append(i.text.replace("\n",""))
    
#Rating    
for i in soup6.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
    
for i in soup6.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
        
for i in soup6.find_all("span",class_='table-body__logo-text'):
    team_name.append(i.text)
    
for i in soup6.find_all("td",class_='table-body__cell rating'): 
    rating.append(i.text)

In [ ]:

#Data frame of top 10 ICC Batsmen
Batsmen=pd.DataFrame({})
Batsmen['Player']=players[:10]
Batsmen['Team']=team_name[:10]
Batsmen['Rating']=rating[:10]
Batsmen

# Ques no.--iii)Top 10 ODI bowlers along with the records of their team and rating

In [ ]:

url = "https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
page7 = requests.get(url)

# page7
soup7 = BeautifulSoup(page7.content)

players = []
team_name = []   
rating = [] 

for i in soup7.find_all("div",class_='rankings-block__banner--name-large'):
    players.append(i.text)
for i in soup7.find_all("div",class_='rankings-block__banner--nationality'): 
    team_name.append(i.text.replace("\n",""))
for i in soup7.find_all("div",class_='rankings-block__banner--rating'):
    rating.append(i.text)
for i in soup7.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup7.find_all("span",class_='table-body__logo-text'):
    team_name.append(i.text)
for i in soup7.find_all("td",class_='table-body__cell rating'):
    rating.append(i.text)

In [ ]:
# Data frame of top 10 ICC bowlers
bowlers=pd.DataFrame({})
bowlers['Player']=players[:10]
bowlers['Team']=team_name[:10]
bowlers['Rating']=rating[:10]
bowlers

# Ques No.--6 python program to scrape cricket rankings from ‘www.icc-cricket.com’

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [ ]:

url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page8 = requests.get(url)
#page8
soup8 = BeautifulSoup(page8.content)

# Team names
womens_team = soup8.find_all("span",class_='u-hide-phablet')
womens_team_name = []
for i in womens_team:
    womens_team_name.append(i.text)
womens_matches = [] 
womens_points = []
womens_ratings = []
womens_new_list = []

#Matches
for i in soup8.find_all("td",class_='rankings-block__banner--matches'):
    womens_matches.append(i.text)
    
#Points    
for i in soup8.find_all("td",class_='rankings-block__banner--points'):
    womens_points.append(i.text)
    
#Ratings    
for i in soup8.find_all("td",class_='rankings-block__banner--rating u-text-right'):
    womens_ratings.append(i.text.replace("\n",""))
    
#Women's New List    
for i in soup8.find_all("td",class_='table-body__cell u-center-text'):
    womens_new_list.append(i.text)
    
for i in range(0,len(womens_new_list)-1,2):
    womens_matches.append(womens_new_list[i])
    womens_points.append(womens_new_list[i+1])
    
for i in soup8.find_all("td",class_='table-body__cell u-text-right rating'):
    womens_ratings.append(i.text)

In [ ]:
# Data frame of top 10 ICC teams
womens_icc=pd.DataFrame({})
womens_icc['Team_name']=womens_team_name[:10]
womens_icc['Matches']=womens_matches[:10]
womens_icc['Points']=womens_points[:10]
womens_icc['Ratings']=womens_ratings[:10]
womens_icc

ii)Top 10 women’s ODI players along with the records of their team and rating.

In [ ]:

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
page9 = requests.get(url)
#Page9
soup9 = BeautifulSoup(page9.content)

players = [] 
team_name = [] 
rating = [] 

#Players Name
for i in soup9.find_all("div",class_='rankings-block__banner--name-large'): # first place player name
    players.append(i.text)
    
#Team Name    
for i in soup9.find_all("div",class_='rankings-block__banner--nationality'): # first place player team name
    team_name.append(i.text.replace("\n",""))
    
#
for i in soup9.find_all("div",class_='rankings-block__banner--rating'): # first place player rating
    rating.append(i.text)
    
#    
for i in soup9.find_all("td",class_='table-body__cell rankings-table__name name'):# players name
    for j in i.find_all('a'):
        
#        
        players.append(j.text)
for i in soup9.find_all("span",class_='table-body__logo-text'): # players team name
    team_name.append(i.text)
    
#    
for i in soup9.find_all("td",class_='table-body__cell rating'): # players rating
    rating.append(i.text)

In [ ]:
#Data frame of top 10 Women's ODI Batting Rankings
top_players=pd.DataFrame({})
top_players['Player']=players[:10]
top_players['Team']=team_name[:10]
top_players['Rating']=rating[:10]
top_players

iii)Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [ ]:

url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
page10 = requests.get(url)

#Page10
soup10 = BeautifulSoup(page10.content)


players = [] 
team_name = []   
rating = []

#Players Name
for i in soup10.find_all("div",class_='rankings-block__banner--name-large'): 
    players.append(i.text)
    
#Team Name    
for i in soup10.find_all("div",class_='rankings-block__banner--nationality'): 
    team_name.append(i.text.replace("\n",""))
    
#Rating    
for i in soup10.find_all("div",class_='rankings-block__banner--rating'): 
    rating.append(i.text)
    
#    
for i in soup10.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
        
#        
for i in soup10.find_all("span",class_='table-body__logo-text'): 
    team_name.append(i.text)
    
#    
for i in soup10.find_all("td",class_='table-body__cell rating'):
    rating.append(i.text)

In [ ]:
#Data frame of top 10 ICC Women's ODI All-Rounder Rankings
all_rounder=pd.DataFrame({})
all_rounder['Player']=players[:10]
all_rounder['Team']=team_name[:10]
all_rounder['Rating']=rating[:10]
all_rounder

# Ques No.--9  Python program to scrape mentioned details from ‘https://www.dineout.co.in/delhi-restaurants/buffetspecial

In [ ]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [ ]:
# request to the webpage server
page = requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
# page content
soup=BeautifulSoup(page.content)

In [ ]:
name=[]
for i in soup.find_all("div", class_="restnt-info cursor"):
    name.append(i.text)
location=[]
for i in soup.find_all("div", class_="restnt-loc ellipsis"):
    location.append(i.text)

price = []
cuisine = []
for i in soup.find_all("span", class_="double-line-ellipsis"):
    price.append(i.text.split('|')[0])
    cuisine.append(i.text.split('|')[1])

rating=[]
for i in soup.find_all("div", class_="restnt-rating rating-3"):
    rating.append(i.text)
for i in soup.find_all("div", class_="restnt-rating rating-4"):
    rating.append(i.text)

images = []
for i in soup.find_all("img", class_="no-img"):
    images.append(i['data-src'])

In [ ]:
print(len(name), len(location), len(price), len(cuisine), len(rating), len(images))

In [ ]:
# Make data frame
DineOut=pd.DataFrame({})
DineOut['Restaurant Name']=name
DineOut['Location']=location
DineOut['Price']=price 
DineOut['Cuisine']=cuisine  
DineOut['Rating']=rating  
DineOut['IMAGES']=images
DineOut